@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #333;
	line-height: 1.2;
}
body {
	background-color: #fdfdfd;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
  box-sizing: border-box;
}

/* ====================== Header ====================== */

.header {
  width: 100%;
  background-color: #252831;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.header__title {
  color: #aaa;
  width: 100%;
  font-size: 16px;
  font-weight: 10;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

.nav {
  width: 100%;
  background-color: #aaa;
  text-align: center;
}

#breadcrumb {
  padding-left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Main Content ====================== */

.maincontent {
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
}

/* ====================== Map ====================== */

#map-container {
  height: 300px;
  width: 100%;
  background-color: #ccc;
}
#map {
  width: 100%;
  height: 100%;
}

/* ====================== Restaurant Filtering ====================== */

#filter-container {
  width: 100%;
}
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  padding: 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  height: 48px;
  letter-spacing: 0;
  margin: 10px;
  padding: 10px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
  width: 100%;
  margin: 1em 0 1em 0;
  padding: 0;
}

#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 0 auto 1em auto;
  min-height: 380px;
  padding: 25px 30px 25px;
  text-align: left;
  width: 90%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Details ====================== */

#restaurant-container {
  background-color: #fff;
  margin: 1em auto 1em auto;
  padding: 10px 30px 25px;
  text-align: left;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 200;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-hours td {
  color: #666;
}

#reviews-container {
  margin: 1em auto 1em auto;
  padding: 10px 0 25px;
  text-align: justify;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 auto 1em auto;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 100%;
}
#reviews-list li p {
  margin: 0 0 10px;
}

/* ====================== Footer ====================== */

.footer {
  background-color: #444;
  color: #aaa;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}